:root {
  --yellow: #edae49;
  --raspberry: #d1495b;
  --teal: #00798c;
  --blue: #30638e;
  --indigo: #003d5b;
}

/* Universal styles follow the Traversy Media tutorial, please see README for link */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

footer {
  background-color: var(--indigo);
}

a {
  font-weight: 500;
  color: var(--indigo);
  text-decoration: inherit;
}
a:hover {
  color: var(--raspberry);
}

.flex-container {
  display: flex;
  margin-top: 20px;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: var(--yellow);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--raspberry);
  margin-left: 20px
}

.profile-photo {
  max-width: 90%;
  margin: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  display: flex
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
.is-primary {
  background-color: (--teal)
}

.portfolio-section {
  margin: 1em
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  background-color: var(--blue);
  max-height: 100px;
}
.card {
  margin: 10px;
  flex-direction: row;
  max-width: 45%;
  display: flex
}
/* 
.social-container {
  justify-content: space-around;
  width: 100%
} */

.contact-card {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card {
  background: url("images/untitled-app.png");
}

.hidden {
  display: none;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.social-media {
  /* display: flex; */
  align-items: center;
}

.social-button {
  margin-top: 20px;
  justify-content: center;
}

.flex-item {
  display: flex
}

.photo-card {
  max-width: 35%;
}


/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 768px) {
  .flex-container {
    flex-direction: column
  }

  .flex-item {
    justify-content: space-around;
    max-width: 100px;
  }
}
